* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0b0b0b;
}

.container {
  background-color: #24252e;
  min-height: 100vh;
  display: flex;
  gap: 15px 15px; /*o primeiro é o gap da coluna e o segunda da linha*/
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  width: 200px;
  height: 200px;
  border: 3px solid #0bfff3;
  background-color: #ffffff;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
